#bangtinh{
	witdh:100%;
}
.ten {
	width:30.75%;
}
.toan{
	width:10.25%;
}
.ly{
	width:10.25%;
}
.hoa{
	width:10.25%;
}
.tb{
	width:10.25%;
}
.new
{
	width:100%;
	height:20px;
}
#form1{
	padding-left:40%;
}
ul{
	padding-left:40%;
	list-style:none; 
	width:100%;
}